/server/.DS_Store
/server/node_modules
/server/build
/server/.svelte-kit
/server/package
/server/.env
/server/.env.*
/server/!.env.example
/server/.vercel
/server/.output
/server/vite.config.js.timestamp-*
/server/vite.config.ts.timestamp-*

/web-app/.DS_Store
/web-app/node_modules
/web-app//build
/web-app//.svelte-kit
/web-app//package
/web-app/.env
/web-app/.env.*
/web-app/!.env.example
/web-app/.vercel
/web-app/.output
/web-app/vite.config.js.timestamp-*
/web-app/vite.config.ts.timestamp-*